*{padding: 0;margin: 0;}
.wy-content{
	width: 100%;
	height: 100vh;
	background: url(../img/zhou/4.jpg)no-repeat;
	background-size: 100% 100%;
}
.w1{
	width: 35%;
	height: 5%;
	float: left;
	margin: 20px;
	background: url(../img/zhou/2.jpg)no-repeat;
	background-size: 100% 100%;
}
.w1 span{
	width: 100%;
	font-size: 20px;
	color: red;
	position: relative;
	left: 20px;	
	text-align: center;
}
.w2 img{
	width: 100%;	
	
}

@media only screen and (min-width: 768px) {
	.w1>span{
		font-size: 40px;
		position: relative;
		left: 60px;
		
	}
}